.parent {
  width: 150px;
  height: 50px;
/*  position: relative; поместили input внутрь elem поэтому не нужно позиционирование*/
}

.elem {
/*  position: absolute; поместили input внутрь elem поэтому не нужно позиционирование*/
  margin: 0;
}

.input {
/*  position: absolute; поместили input внутрь elem поэтому не нужно позиционирование*/
}