.tr {
  display: flex;
}

.td {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.color1 {
  background-color: aqua;
}

.color2 {
  background-color: bisque;
}

.color3 {
  background-color: brown;
}